/*Статья про обнуление https://medium.com/@stasonmars/%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D1%8B%D0%B8%CC%86-%D1%81%D0%B1%D1%80%D0%BE%D1%81-css-f5816963c82b*/
/*Обнуление*/

/*Делить страницу на блоки - создаю контейнеры и либо указываю высоту контентом, либо vh (на всю страницу), и крайне редко px*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;} /*Всё в блоки, для лучшей вёрстки*/
body{
	display: flex;
	flex-direction: column;
}

html,body{ /*Привожу все шрифты к одному стилю*/
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	
	font-family: Lato;

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;} /*Наследую настройки шрифтов для данных элементов, потому что это не происходит автоматически*/

input::-ms-clear{display: none;} /*Убираю кастомы разных браузеров по умолчанию*/
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a{text-decoration: none;}
ul li{list-style: none;}
li{list-style: none;}
img{vertical-align: top;}


*{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} /*Всё заголовки "в ноль", для перестройки под макет"

/*--------------------*/




/* === Variable ===*/

:root {
	--main-bg-color: #e9e9e9;
	--main-theme:#4f4b66;
	--main-theme-light: #646178;

	--button-complete: #43A047;
	--button-delete: red;
  }



  /* === Document === */
body{
	background-color: var(--main-bg-color);
	font-family: 'Roboto', sans-serif;
	background-color: #edf0f1 ;
}
	.container{
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		margin: 0 auto;

		width: 980px;
		max-width: 980px;
		min-width: 320px;
		height: 90vh;
	
		
	}/* Позже добавить медиавыражение для мелких экранов. Максимальную ширину для десктопа и 100% для планшетов и меньше*/

	@media screen and (max-width: 980px) {
		.container{
			width: 100%;
		}
    }
		/* === Header === */
		header{
			width: 100%;
			height: 70px;
			/* position:fixed;
			top: 0;
			left: 0; */
			background-color: var(--main-theme);
			box-shadow: 0 2px 4px rgba(44, 62, 80, 0.15);
			
		}
			.new-task__form{
				padding: 10px;
				display: flex;
				justify-content: space-between;
			}
				.new-task__input{ /*размеры в % .Встанет как положено, когда подключу многострочное поле ввода*/
					width: 100%;
					height: 100%;
					background-color: var(--main-theme-light);

					font-size: 14px;
					font-weight: 400;
					
					color: white;
					
					outline: none;
					padding: 10px;
					
					border-radius: 5px;
					/*border-top-right-radius: 25px;  /*это сломается, когда будет введено многострочное поле, и высота элемента изменится*/
					/*border-bottom-right-radius: 25px;*/

				}
				.new-task__input::-webkit-input-placeholder{
					color: rgba(255, 255, 255, 0.75);
				}
				
				.new-task__button{
					width: 40px;

					border-radius: 5px;
					border: 0px;

					color: white;

					margin-left: 5px;
					background-color: var(--main-theme-light);
					z-index: 10;

					align-self: stretch;

					cursor: pointer;
				}
					.new-task__button svg{
						width: 16px;
						height: 16px;
						color: white ; 
					}
						.new-task__button svg .fill{
							fill: white;
						}
		.todo__container{
			width: 100%;
			padding: 15px;
			position: relative;
		}
			.todo{
				width: 100%;
				margin:10px 0;
			}
				.uncomplete__item{
					width: 100%;
					min-height: 25px; /*min-height*/
					background-color: white ;
					border-radius: 5px;
					box-shadow: 0 1px 2px rgba(44, 62, 80, 0.15);

					line-height: 20px;
					
					margin: 10px 0;
					padding: 15px;

					display: flex;
					justify-content: space-between;
				}
				.uncomplete__item:last-child{
					margin-bottom: 0;
				}
					.uncomplete-item__text{
						
						margin-right: 15px;
					}
					.uncomplete-item__buttons{
						width: 100px;
						display: flex;
						flex-wrap: nowrap;
					} /* add media to vertical format*/
						.uncomplete-item__button{
							width: 40px;
							height: 40px;
							margin-right: 5px;
							position: relative;

							background: none;
							
						}		

							.uncomplete-item__button:last-child::before{
								content: "";
								width: 1px;
								height: 30px;
								position: absolute;
								top: 5px;
								left: -5px;
								background-color: grey;
							}
							.uncomplete-item__button svg{
								width: 36px;
								height: 36px;
								transition: all .4s;
							}
						
							

							/* Почему везде использую класс .fill? Потому что удобно. Всё равно, этот класс отдельно, сам по себе я не использую, по этому множественного влияния он оказывать не будет (хоть и указан для всех svg, но применяется узкоспециализированно благодаря комбинации селекторов) */
							.uncomplete-item__button svg .fill{  
								fill: grey;
							}
							/* .button-complete{
								transition: all .4s;
							}
							.button-delete{
								transition: all .4s;
							} */
							.button-delete:hover svg .fill{  
								fill: var(--button-delete);
								transition: all .4s;
							}
								/* .button-delete:hover{  
									border-radius: 50%;
									border: 2px var(--button-delete) solid;
									transition: all .1s;
								} */
							.button-complete:hover svg .fill{  
								fill: var(--button-complete);
								transition: all .4s;
							}
								/* .button-complete:hover {
									border-radius: 50%;
									border: 2px var(--button-complete) solid;
									transition: all .1s;
								} */
			.todo__complete{
				position: relative;
			}
			
			.todo__complete:not(:empty){
				margin-top: 70px;
			
			}
			
			.todo__complete:not(:empty):before{
				content: "";
				width: 70%;
				height: 1px;
				background-color: #d8e5e0;
				position: absolute;
				left: 15%;
				top: -35px;
			
			}